*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Lucida Bright,Georgia,serif; 
    
}


.title-stat {
    text-align: center;
    margin: auto;
    width:80%;
    margin-bottom:30px;
    margin-top:50px;
    
}

.flex1 {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:65%;
    margin:auto;
    
    min-width: 380px;
    align-content: center;
}


.flex2 {
    border: 2px solid rgb(231, 231, 231);
    margin:10px;
    width:354px;
    height:580px;
    margin-bottom:30px;
    
}

.padding {
    padding:10px;
}

h2 {
    font-size: medium;
}

span {
    font-size: smaller;
}

.lgrey{
    
    font-size: smaller;    
    color:rgb(85, 85, 85);
}

.discount{
    color:red;
}

.headerdiv {
    background-color: orange;
    width: 100%;
    height:50px;
}

.headerdiv2{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width:65%;
    margin:auto;
    
    min-width: 380px;
    align-items: center;
    min-height: 50px;
}

.intdiv{
    margin-left:10px;
    margin-right:10px;
    color:white;
}

.footerdiv {
    background-color: black;
    width: 100%;
    height:80px;
}

.footerdiv2{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width:65%;
    margin:auto;
    
    min-width: 380px;
    align-items: center;
    min-height: 80px;
    font-size: smaller;
}


